// Color variables
$primary-color: #f3b800;
$secondary-color: #87888a;
$dark-bg: #1a1a1a;
$darker-bg: #141414;
$medium-bg: #353638;
$light-bg: #454545;

// Layout variables
$header-height: 60px;
$sidebar-width: 250px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
